/* reset code starts here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@1,300&display=swap');
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
/* reset code ends here */
/* header starts here */
.container{
    max-width: var(--max-width);
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color: var(--purple300);
}
/* header ends here */