/* reset code starts here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@1,300&display=swap');
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
button{
    padding: 10px 15px;
    border: none;
    transition: all 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
/* reset code ends here */
/* header starts here */
.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 0;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3S ease-in-out;
}
A:hover{
    border-bottom: 2px solid;
    transition: all 0.3S ease-in-out;

}
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.logo{
    font-size: 32px;
    font-weight: 600;

}
/* header ends here */
/* main starts here */
.hero-section{
    background-image: url(img/hero_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

}
.hero__container{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
    padding: 50px;
}
.hero-section h1{
    font-size: 96px;
}
.hero-section h3{
    font-size: 32px;
}
.music-section{
    padding-top: 50px;
    background-color: var(--purple500);
}
.music__container{
    color: white;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.ipad-iphone-img{
    margin-top: -400px;
    position: relative;
    top: 400px;
}
.music-btn{
    background-color: #dc0000;
    color: #f9f6ff;
}
.about-music{
    padding-top: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.sec-btn
/* main ends here */